@tailwind base;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  background-color: #08101c;
  background-image: linear-gradient(to right, #08101c, #00040a);
  font-family: "Comfortaa", cursive;
  color: white;
  padding: 0px;
  margin: 0px;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 1rem;
}

@tailwind utilities;
